@model MvcApplicationDatabase.Models.Post

@{
    
}

<div id="@Model.Post_id" class="post">

    <div class="cf">
        <div class="post-left">
            <div class="vote">
                <input type="hidden" value="@Model.Post_id" />

                <div class="post_vote">
                    <p><a href="#"><img src="~/Content/themes/layout/upvote.gif" alt="upvote" /></a></p>
                    <p>@Model.Votes</p>
                    <p><a href="#"><img src="~/Content/themes/layout/downvote.gif" alt="upvote" /></a></p>
                </div>

            </div>
        </div>

        <div class="post-right">
            <div class="post-text">@Html.Raw(Model.Content)</div> 
            <div class="post-reply">
                <a href="/question/comment/@Model.Post_id" title="Reply to this post.">comment</a>
            </div>
            <div class="post-information">
                <div class="post_user">
                    <p>Answered @Model.DateCreated.ToString("dd MMM \\a\\t HH:mm")</p>
                    <p>
                        <img class="avatar" src="~/Content/themes/layout/" alt="avatar" width="40px" height="40px" />
                        @Html.ActionLink(Model.User.FirstName, "/user/details/" + Model.User_id, "users")
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


    <div class="post-comments">
        @foreach (MvcApplicationDatabase.Models.Comment comment in Model.Comments)
        {
            <div id="comment-@comment.Comment_Id" class="comment">
                <div class="comment-text">
                    <span>@comment.Content</span>

                    <a  href="/user/@comment.User_id" 
                        title="Go to @comment.User.FirstName @comment.User.LastName's profile" 
                        class="comment-user">@comment.User.FirstName @comment.User.LastName</a>

                    <span class="comment-date">
                        Posted on: @comment.DateCreated
                    </span>
                </div>
            </div>
        }
    </div>
</div>   
