@model MvcApplicationDatabase.Models.Question
@{
    ViewBag.Title = "Ask";
}


@using (Html.BeginForm()) {
   
    @Html.ValidationSummary(true) 

    <div id="question-form">

        <div class="form-item ask-title">
            <table class="ask-title-table">
                <tbody>
                    <tr>
                        <td class="ask-title-cell-key">  @Html.LabelFor(q => q.Title) </td>
                        <td class="ask-title-cell-value">@Html.TextBoxFor(q => q.Title, new { @class = "ask-title-field" }) </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-item">
            @Html.TextArea("content", new { @class = "post-editor" })
        </div>

        
        <div class="form-item">
            @Html.LabelFor(q => q.Tags)
            <input id="tagnames" name="tagnames" type="text" size="60" value="" tabindex="103">
        </div>
        
        
        <div id="question-only-section"> 
            <div class="form-submit clear">
                <input type="submit" id="submit-button"  value="Post Your Question" tabindex="120">
                <a href="#" class="discard-question dno">discard</a>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}