@model MvcApplicationDatabase.ViewModels.QuestionDetailsFormViewModel

@{
    ViewBag.Title = "Details";
    string[] OpeningPost = Model.GetUserDetails(Model.OpeningPost.User_id);

}
@Scripts.Render("~/Scripts/Markdown.Converter.js")
@Scripts.Render("~/Scripts/Markdown.Editor.js")
@Scripts.Render("~/Scripts/Markdown.Sanitizer.js")

<div class="content-left @if(ViewBag.isUserWhoAskedThisQuestion) { @Html.Raw("user-asked-question") }">

    <div class="question">
        <h1 class="title">@Html.ActionLink(Model.Question.Title, Model.Question.Question_id.ToString(), "question")</h1>
    
        <div class="post_vote">
            <p><a href="#"><img src="~/Content/themes/layout/upvote.gif" alt="upvote" /></a></p>
            <p>@Model.OpeningPost.Votes</p>
            <p><a href="#"><img src="~/Content/themes/layout/downvote.gif" alt="upvote" /></a></p>
        </div>

        <div class="post_content">
            @Html.Raw(Model.OpeningPost.Content)
        </div>

        <div class="question_tags">
            @foreach (var tag in Model.Question.Tags)
            {
                @Html.ActionLink(@tag.Name, @tag.Name.ToLower(), new { controller = "question/tagged" }, new { @class = "post-tag", })
            }
        </div>
    
        <div class="post_user">
            <p>asked @Model.OpeningPost.DateCreated.ToString("dd MMM \\a\\t HH:mm")</p>
            <p>
                <img class="avatar" src="~/Content/themes/layout/@OpeningPost[1]" alt="avatar" width="40px" height="40px" />
                @Html.ActionLink(OpeningPost[0], "details/" + Model.OpeningPost.User_id, "users")
            </p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="answers">

       <div class="answers-header">
            <h2 class="bottom_border">@Model.Posts.Count() Answers</h2>
       </div>

        @if(Model.BestAnswerPost != null)
        {
            <div class="best-answer">
                @Html.Partial("_PostDetailsPartial", Model.BestAnswerPost)
            </div>
        }

        @foreach(MvcApplicationDatabase.Models.Post post in Model.Posts)
        {
            if (post.Post_id == Model.BestAnswerPost.Post_id) { continue; }
            
            @Html.Partial("_PostDetailsPartial", post) 
        }

        @if (Session["login"] == null)
        {
            <br />
            <h2>You must @Html.ActionLink("login", "login", "user") to give an answer!</h2>
        }
        else {
        
            <h2>Give an answer</h2>
        
            using (Html.BeginRouteForm("AnswerQuestion"))
            {
                <input type="hidden" id="answer-question-id" value="@Model.Question.Question_id" />

                @Html.HiddenFor(m => m.Question.Question_id)
        
                <div class="form-item">
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        @Html.ValidationMessageFor(q => q.NewAnswer.Content, "Bericht is verplicht")
                        @Html.TextAreaFor(p => p.NewAnswer.Content, new { @class = "post-editor wmd-input", @id = "wmd-input" })
                    </div>
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                </div>
                
                <input type="submit" id="submit-button"  value="Post Your Answer" tabindex="120">
            }
        }

    </div>
</div>

@Scripts.Render("~/Scripts/runMarkdown.js")