@model MvcApplicationDatabase.ViewModels.QuestionDetailsFormViewModel

@{
    ViewBag.Title = "Details";
}
@Scripts.Render("~/Scripts/Markdown.Converter.js")
@Scripts.Render("~/Scripts/Markdown.Editor.js")
@Scripts.Render("~/Scripts/Markdown.Sanitizer.js")

<h2>Details</h2>

<div class="question">
    <div class="question-title">@Model.Question.Title</div>

    <div class="display-label">@Html.DisplayNameFor(model => model.Question.BestAnswer_id)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Question.BestAnswer_id)</div>

    <div class="display-label">@Html.DisplayNameFor(model => model.Question.DateCreated)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Question.DateCreated)</div>

    <div class="display-label">@Html.DisplayNameFor(model => model.Question.Views)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Question.Views)</div>   

    @Html.Partial("_PostDetailsPartial", Model.OpeningPost)

</div>

<div class="answers">

   <div class="answers-header">
        <h2>@Model.Posts.Count() Answers</h2>
   </div>


    @foreach(MvcApplicationDatabase.Models.Post post in Model.Posts) // Skip the Opening Post
    {
        @Html.Partial("_PostDetailsPartial", post) 
    }
    @if ((Session["login"] == null || !(bool)Session["Login"]))
    {
        <br />
        <h2>You must @Html.ActionLink("login", "login", "user") to give an answer!</h2>
    }
    else {
        @using (Html.BeginForm())
        {
            <div class="form-item">
                <div class="wmd-panel">
                    <div id="wmd-button-bar"></div>
                    @Html.ValidationMessageFor(q => q.Post.Content, "Bericht is verplicht")
                    @Html.TextAreaFor(p => p.Posts, new { @class = "post-editor wmd-input", @id = "wmd-input" })
                </div>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
            
            @Html.Partial("_EditorPartial");          
            <input type="submit" id="submit-button"  value="Post Your Answer" tabindex="120">
        }
    }

</div>

@Scripts.Render("~/Scripts/runMarkdown.js")