@model MvcApplicationDatabase.Models.Question

@{
    ViewBag.Title = "Details";

   // Model.OpeningPost.Content
    MvcApplicationDatabase.Models.Post openingPost = Model.Posts.First();
}

<h2>Details</h2>

<div class="question">
    <legend>@Model.Title</legend>


    <div class="display-label">@Html.DisplayNameFor(model => model.BestAnswer_id)</div>
    <div class="display-field">@Html.DisplayFor(model => model.BestAnswer_id)</div>

    <div class="display-label">@Html.DisplayNameFor(model => model.DateCreated)</div>
    <div class="display-field">@Html.DisplayFor(model => model.DateCreated)</div>

    <div class="display-label">@Html.DisplayNameFor(model => model.Views)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Views)</div>   



</div>

<div class="answers">

    <div class="display-label">@Html.Display(openingPost.Content)</div>
    <div class="display-field">@Html.DisplayName(openingPost.Content)</div> 

    @foreach(MvcApplicationDatabase.Models.Post post in Model.Posts
                                                             .OrderBy(p => p.DateCreated)
                                                             .Skip(1)) // Skip the Opening Post
    { 
        <div id="@post.Post_id" class="cf">
            <div class="post-left">
                <div class="vote">
                    <input type="hidden" value="@post.Post_id" />
                    <a class="vote-up-off" title="Click to upvote">up vote</a>
                    <span class="vote-count-post">@post.Votes</span>
                    <a class="vote-down-off" title="Click to downvote">down vote</a>
                </div>
            </div>

            <div class="post-right">
                <div class="post-text">@post.Content</div> 
                <div class="post-information">
                    @post.User.FirstName
                    @post.User.LastName
                    @post.User.Photo
                    @post.User.Votes
                </div>
            </div>
        </div>    
    }

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
