@model IEnumerable<MvcApplicationDatabase.Models.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>All @ViewBag.Title</h2>

<p class="dno">
    @Html.ActionLink("Create New", "Create")
</p>

<div id="question-list">
    @foreach (var item in Model) {
    <div class="question-summary" id="question-summary-@item.Id">
        <div class="cp">
            <div class="votes">
                <div class="count">0</div>
                <div>votes</div>
            </div>
            <div class="answers">
                <div class="count">0</div>
                <div>answers</div>
            </div>
            <div class="views">
                <div class="count">0</div>
                <div>views</div>
            </div>
        </div>
        <div class="summary">
            <h3><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h3>
            <div class="tags">
                <!-- TEST TAGS -->
                <a href="#" class="post-tag">C#</a>
                <a href="#" class="post-tag">Javascript</a>
                @foreach (var tag in item.Tags)
                {
                    <a href="#">@Html.DisplayFor(modelItem => tag.Name)</a>
                }
            </div>
        </div>
    </div>
    }
</div>
<!--
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestAnswer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BestAnswer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>-->
<p>
    @for (int i = 1; i <= Math.Abs(Model.Count()/ViewBag.PageSize); i++)
    {
        @Html.ActionLink(i.ToString() + " | ", "Index", new { pagesize=(i*ViewBag.PageSize) })
    }
</p>