@model IEnumerable<MvcApplicationDatabase.Models.Tag>

@{
    ViewBag.Title = "Top tags";
}

    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.20.js")
 
<h2>@ViewBag.Title</h2>


<div class="tag-list">
    @foreach (var t in Model)
    {
        <div class="tag-item">
            <a href="@Html.Raw("/question/tagged/" + Uri.EscapeDataString(t.Name.ToLower()))" class="post-tag">@t.Name</a>  
            <span class="tag-excerpt"> 
                #@t.Questions.Count
                @if(ViewBag.isAdmin == true)
                {
                        @:<a href="#" class="modify-summary-button" id="@("modifytag" + t.Tag_id)">Edit </a>
                        @:<a href="#" class="delete-tag-button" id="@("deletetag" + t.Tag_id)"> X </a>
                }
                <br /> </span>
            <div class ="tag-excerpt" id="@("divsummary" + @t.Tag_id)">
                @t.Summary
            </div>
            <div id="@("textsummary" + @t.Tag_id)" style="display:none">
            @using (Html.BeginForm("ModifySummary", "Tag", new { id = t.Tag_id }, FormMethod.Get )) {

                @Html.TextArea("newSummary", t.Summary.Trim(), new {cols = 25} )
                <input type="hidden" value="@t.Tag_id" />
                
                <div class="summary-button">
                    <input type="submit" value="Set" />
                
                <a href="#" class="" id="@("restoresummary" + t.Tag_id)"> Cancel</a>
                
                </div>
                
            }
           </div>
    </div>
    }

    <div class="clear"></div>

</div>
