@model MvcApplicationDatabase.Models.User

@{
    ViewBag.Title = "Login";
    bool auth_error = Request["auth_error"] == null ? false : true;
}

@if(auth_error) {
    @Html.Partial("_NotAllowed");
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User Login:</legend>
        <div class="UserControl_LoginContainer">
            <p class="UserControl_Title">Account information.</p>

            <div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
         
        <p class="UserControl_CenterButton">
            <input type="submit" value="Login" />
        </p>

        @Html.ActionLink("No Account? Click here to Register", "Create")
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}