@{
string ctrl = ViewContext.RouteData.Values["controller"].ToString().ToLower();
string act = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@(ctrl.Equals("home") ? "" : ViewBag.Title + " - ")Stack Underflow</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/themes/layout/favicon.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.20.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("Content/site.js")
    <link rel="stylesheet" href="Content/Themes/base/jquery-ui.css" />

</head>
<body>
    <div id="user" class="dno">
        <div class="wrapper">
            <p><a href="#">Username</a> <input type="text" size="30" name="search" placeholder="search" /></p>
        </div>
    </div>
    <div class="wrapper">

        <div id="logo"><h1>Stack Underflow</h1></div>
        <div id="navigation">
            <ul>
            <li@(ctrl.Equals("home") ? " class=active" : "")>@Html.ActionLink("Home", "Index", "Home")</li>
            <li@(ctrl.Equals("question") && !act.Equals("ask") ? " class=active" : "")>@Html.ActionLink("Questions", "Index", "Question")</li>
            <li@(ctrl.Equals("tag") ? " class=active" : "")>@Html.ActionLink("Tags", "Index", "Tag")</li>
            <li@(ctrl.Equals("user") && act.Equals("") ? " class=active" : "")>@Html.ActionLink("Users", "Index", "User")</li>
          
            <li@(ctrl.Equals("badges") ? " class=active" : "")>@Html.ActionLink("Badges", "Index", "Badges")</li>
            <li@(ctrl.Equals("question") && act.Equals("ask") ? " class=active" : "")>@Html.ActionLink("Ask Question", "Ask", "Question")</li>
              @if (Session["login"] != null && (bool)Session["login"] == true) { 
                 <li@(ctrl.Equals("user") && act.Equals("details/" + Session["ID"].ToString()) ? " class=active" : "")>@Html.ActionLink("profile", "details/"  + Session["ID"].ToString(), "user")</li@>
             }

                @if (Session["login"] != null && (bool)Session["login"] == true) { 
                 <li@(ctrl.Equals("user") && act.Equals("logout") ? " class=active" : "")>@Html.ActionLink("Logout", "logout", "user")</li@>
             }
             else {
                <li@(ctrl.Equals("user") && act.Equals("login") ? " class=active" : "")>@Html.ActionLink("Login", "login", "user")</li@>
             }
                 
            </ul>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
